.rodape {
    padding: 2em;
    background-color: var(--cor-secundaria);
    border-top: 1px solid var(--cor-quartenaria);
}

.rodape__texto {
    color: var(--cor-terciaria);
    font-size: 1.6rem;
    font-weight: 400;
}